* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
} 

body {
    font-family: 'Oswald', sans-serif;
}

.clear {
    clear: both;
}

/* Menu Lateral */

.menuLateral {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 15vw;
    height: 100vh;
    text-align: center;
    padding: 0px 5px;
}


.imgLogo {
    width: 90%;
    height: 50px;
    padding-top: 25%;
    margin-top: 50px;
    /* position: relative; alterado*/
    top: 30px;
    left: 0;
    background-image: url('../img/logoPequeno.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

nav {
    /* position: relative; alterado */
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-100%);
}

nav li a {
    color: white;
    text-decoration: none;
}

.menuLateral nav ul {
    list-style-type: none;
    line-height: 50px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.menuLateral nav ul li {
    text-align: left;
    font-family: 'Oswald', sans-serif;
    margin: 5px 0;
    font-size: 18px;
}

.menuLateral nav ul li a:hover {
    color: rgb(221, 35, 35); 
}

.menuMobile {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 3;
}

.menuMobile ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.menuMobile ul li a {
    font-size: 28px;
}

/* Section Home */

.mainHomePage {
    width: 100%;
    background-image: url('../img/pollygon1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home {
    height: 100vh;
    margin-left: 15vw;
    position: relative;
    padding: 0 2%;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    z-index: 1;
}

#particles-js {
    height: inherit;
}

.about {
      /* position: relative;
    top: 13%;
    left: 50%;
    transform: translateX(-50%); 
    display: inline-block;   */
    text-align: center;    
    padding-top: 10%;    
}

.sobreImg img {
    max-width: 180px; 
    max-height: 180px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: linear-gradient(45deg,#7797CA, #E34644, #f2f6fc);
    padding: 4px;    
    z-index: 2;
    position: relative;    
}


.sobreTexto {
    display: inline-block;
}

.sobreTexto p {
    color: white;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.sobreTexto p:first-child {
    font-size: 52px;
}

.sobreTexto p:last-child {
    font-size: 26px;
}

i.fa-angle-double-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 45px;
    animation-name: arrowBounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    z-index: 2;
    cursor: pointer;
    animation-timing-function: linear;
}

@keyframes arrowBounce {
    0% {
        transform: translate(-50%, 0);
    }

    33% {
        transform: translate(-50%, -5px);
    }

    66% {
        transform: translate(-50%, 5px);
    }

    100% {
        transform: translate(-50%, 0);
    }
}

/* Menu Mobile */
.fa-bars {
    color: white;
    font-size: 35px;
    display: none;
}

.fa-times {
    cursor: pointer;
    display: none;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-100%);
    margin: 15px;
    z-index: 4;
}

/* Section Projetos */

section.projetos {
    text-align: center;
    padding-left: calc(15vw + 2%);
    padding-right: 2%;
    height: 100%;
    background-image: url('../img/pollygon2.jpg');     
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.projetos h1 {
    text-transform: uppercase;
    color: white;
    font-size: 34px;
    margin-bottom: 50px;
}

.projetosWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider {
    position: static;
    width: 70%;
    max-width: 850px;
}

.sliderSingle {
    padding-top: calc(10% * 0.65);
    display: inline-block;
    margin: 0 10px;
    background-position: center;
    background-size: 110% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* Estilos para o plugin Slick */
/* .slick-dotted li {
	list-style-type: none;
	text-align: center;
	position: relative;
	margin-top: 50px;
} */

.slick-dotted li {
	display: inline-block;
	margin: 20px 10px;
	width: 16px; 
	height: 16px;
	border-radius: 8px;
	color: #d8d8d8;
}

.slick-dotted button:focus {
	outline: 0;
}

.slick-dotted li button {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	color: #d8d8d8;
	border-width: 0;
	background-color: #d8d8d8;
	opacity: 1;
	cursor: pointer;
}

li.slick-active button {
	background-color: #686464;
    color: transparent;
}

.slick-slide:focus{outline: none}  

/* Section Sobre */

section.sobre {
    text-align: center;
    padding-left: calc(15vw + 2%);
    padding-right: 2%;
    min-height: 100vh;  
    /* height: 100%; */
    background-image: url('../img/pollygon3.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;   
    display: flex;
    align-items: center;    
}


.sobre h1 {
    color: rgb(54, 47, 47);
    font-size: 34px;
    
}
.sobre input[type=text] {
    /* Não fica transparente no Safari mobile */
    -webkit-text-fill-color: white;
    -webkit-text-fill-color: rgba(255, 255, 255,1);
    -webkit-opacity: 1;
    background: transparent;
    width: 100%;
    border: 0;
    font-size: 34px;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
    display: block;
    margin: 0 auto;
}

.sobre input[type=text]:focus {
    outline: 0;
}

.sobre input[type=text]:disabled {
    color: white;
    -webkit-text-fill-color: white;
}

.sobreAutor p {
    text-align: justify;
    color: rgb(255, 255, 255);
}

.sobreInfosContainer {
    display:flex;
    align-items: center;
}

.sobreAutor {
    padding: 5px;
    color: white;
    line-height: 35px;
    width: 50%;
}


.sobreAutor h1, .skills h1 {
    margin-bottom: 15px;
    color: white;
    font-size: 30px;
}


.skills {
    padding: 5px;
    width: 50%;
    color: white;
}

.sobreSkills {
    padding-left: 30px;
}

.skillSingle {
    max-width: 400px;
    text-align: initial;
    margin: 20px auto;
}

.skillLabel {
    font-size: 16px;        
    display: inline-block;
    margin-left: -4px;
    padding: 5px;
    border-radius: 10%;
    width: 20%;
    text-align: center;
    margin-right: 3%;
}

.skillBar {
    background: rgba(136, 131, 131, 0.3);
    width: 100px;
    position: relative;
    top: 50%;
    height: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-left: -4px;
    width: 70%;
}

.skillProgress {
    border-radius: inherit;
    position: absolute;
    height: inherit;
    top: 0;
    left: 0;
} 

/* Section Contato */

section.contato {
    height: 100%;
    background-color: #ccc;
    background-image: url('../img/pollygon4.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: calc(15vw + 2%);
    padding-right: 2%;
    text-align: center;
}

.contato h1 {
    color: white;
    font-size: 34px;
    padding: 25px 0;
}

.contatoContainer {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.contatoSingle {
    width: 33.33%;
    height: 100px;
    float: left;
    margin: 30px 0px;
    text-align: center;
}

.contatoIcon {
    color: white;
    font-size: 70px;    
    cursor: pointer;
    
}

.contatoIcon.fa-instagram:hover {     
     background-image: -webkit-linear-gradient(45deg,#833AB4, #F77737, #FFDC80);     
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;    
}

.contatoIcon.fa-linkedin:hover {                    
    background-image: -webkit-linear-gradient(45deg,rgb(141, 156, 177), rgb(87, 125, 179), rgb(5, 63, 145));       
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contatoIcon.fa-facebook-square:hover {    
    background-image: -webkit-linear-gradient(225deg,rgb(102, 111, 131), rgb(46, 78, 146), rgb(10, 52, 143));       
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contatoIcon.fa-envelope:hover {
    background-image: -webkit-linear-gradient(45deg,rgb(197, 112, 16), rgb(65, 40, 4), rgb(39, 31, 5));          
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contatoIcon.fa-skype:hover {
    /* color:#12A5F4; */
    background-image: -webkit-linear-gradient(45deg,rgb(114, 180, 216), rgb(18, 165, 244), rgb(6, 70, 104));          
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contatoIcon.fa-github:hover {
    background-image: -webkit-linear-gradient(45deg,rgb(116, 70, 91), rgb(179, 37, 103), rgb(192, 9, 70));          
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}


/* Media queries */

@media screen and (min-width: 980px) {
    .skillLabel {
        font-size: 16px;
    }
}

@media only screen and (max-width: 979px) and (min-width: 769px)  {
    .skillLabel {
        font-size: 11px;    
    }
}

@media screen and (max-width: 950px) {
    .slider {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    nav {
        transform: none;
    }

    .contato h1 {
        padding: 0;
    }

    .sobreWrapper {
        position: static;
        transform: translateY(0);
    }

    .effect {
        top: -7.5px;
    }

    section.contato {
        padding-left: 2%;
    }


    .sobreAutor {
        flex-direction: column;
        width: 100%;
    }

    .skills {
        flex-direction: column;
        width: 100%;
    }

    .sobreInfosContainer {
        margin-top: 15px;
        flex-direction: column;        
    }

    .descricaoAutor {
        margin-top: 20px;
        margin: 20px 0;
    }


    section.sobre {
        padding: 30px 2%;
        height: auto;
    }

    .slider {
        width: 100%;
        
    }

    .mainHomePage {
        height: 100vh;
    }

    section.projetos {
        padding-left: 0;
    }

    .menuLateral {
        width: 100vw;
        height: 15vh;
        padding: 0 30px;
    }

    .imgLogo {
        max-width: 200px;
        margin-top: 0;
        padding: 15px 0;
        padding-top: 40px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }

    nav.menuDesktop {
        display: none;        
    }

    .about {
        top: 5%;
    }

    .home {
        width: 100%;
        margin-left: 0;
        height: 100vh;
        padding-top: 15vh;
    }

    .fa-bars {
        cursor: pointer;
        display: inline-block;
        position: absolute;
        right: 7%;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 600px) {
    .contatoSingle {
        width: 50%;
    }
}

@media screen and (max-width: 515px) {
    .slider {
        top: 40%;
    }

    .slick-dotted li {
        margin-top: 60px;
    }

    .skillLabel {
        font-size: 10px;
    }
}

@media screen and (max-width: 400px) {
    .contatoSingle {
        width: 100%;
        margin: 0;
        float: none;
        height: 80px;
    }

    .contatoIcon {
        line-height: 80px;
        font-size: 50px;
    }

    .fa-bars {
        font-size: 30px;
    }
}