* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;		
}

html,body {
	height: 100%;
}

.clear {
	clear: both;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

/***** HEADER ******/

header {
	padding: 20px 2%;
}

header .logo img{
	float: left;
	width: 236px;
}

header nav.menu-desktop {
	float: right;
	font-weight: bold;
}

header nav.menu-desktop ul {
	list-style-type: none;
	padding: 8px 0;
	
}


header nav.menu-desktop ul li {
	float: left;
	font-size: 14px;
	text-transform: uppercase;
	padding: 0 20px;
	
}

header nav.menu-desktop ul li a {
	text-decoration: none;
	color: #b4b4b4;
}

header nav.menu-mobile {
	display: none;
	float: right;
	width: 28px;
	height: 28px;
	cursor: pointer;
	background-image: url('../imagens/menu-mobile.png');
	background-size: 100% 100%;
}

header nav.menu-mobile ul {
	background-color: white;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;	
	width: 100%;
	top: 70px;
	z-index: 999;
	display: none;
}

.menu-mobile ul li a {
	display: block;
}




header nav.menu-mobile ul li:first-of-type {
	border-top: 1px solid #ccc;
}

header nav.menu-mobile ul li {
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}

header nav.menu-mobile ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #b4b4b4;
}


/********** MOSAICO ********/

.mosaico-single {
	float: left;
	width: calc(100%/6);
}

/*Por utilizarmos width:100%, não é possível usar nenhuma margem lateral, portanto usamos uma borda para dar o efeito de espaçamento 
  Padding-top é um trick para nossa altura ficar responsiva e igual a largura.
*/
.img-mosaico-single {
	width: 100%;
	padding-top: 100%;
	background: #ccc;
	border: 2px solid white;
}

/* .mosaico-single:nth-child(1) .img-mosaico-single:nth-child(1) {
	border-top-left-radius: 25px;
}

.mosaico-single:nth-child(1) .img-mosaico-single:nth-child(2) {
	border-bottom-left-radius: 25px;
}

.mosaico-single:nth-child(6) .img-mosaico-single:nth-child(1) {
	border-top-right-radius: 25px;
}

.mosaico-single:nth-child(6) .img-mosaico-single:nth-child(2) {
	border-bottom-right-radius: 25px;
} */

/*Melhorando nível de especificação p estilizar todas as imgs */
div.container div.mosaico-wrapper div.mosaico-single .img-mosaico-single, .img-mosaico-single-social {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/** SERVICOS ***/

section.servicos > .container {
	max-width: 790px;
	display: flex;
	align-items: center;
	position: relative;
	top: -30px;
	text-align: center;
}

section.servicos > .container > .box-servico {
	background-image: url('../imagens/icone_dente.png');
	background-size: 18px 18px;
	background-repeat: no-repeat;
	background-position: center calc(100% - 7px);
	/*background-position: center 95%;*/
}

section.servicos > .container > .box-servico h2 {
	color: white;
	font-size: 15px;
	text-transform: uppercase;
}

section.servicos > .container > .box-servico p {
	color: #c1c8cc;
	font-weight: normal;
	font-size: 13px;
	margin-top: 8px;
}

section.servicos > .container > .box-servico:nth-of-type(1), 
section.servicos > .container > .box-servico:nth-of-type(3) {
	width: 30%;
	padding: 30px 15px;
	background-color: #576975;
}


section.servicos > .container > .box-servico:nth-of-type(2) {
	width: 40%;
	padding: 60px 30px;
	background-color: #688293;
	background-image: none;
}

/*** PERFIL CONTAINER *****/

section.perfil-container {
	padding: 40px 0;
}

section.perfil-container .container {
	max-width: 800px;
}

section.perfil-container .perfil-wrapper {
	padding-top: 60%;
	position: relative;
} 

section.perfil-container .perfil-wrapper2 {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	text-align: justify;
	width: 100%;
	height: 100%;	
} 

section.perfil-container .img-perfil {
	width: 40%;
	height: 90%;
	background-image: url('../imagens/img_perfil.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
}

section.perfil-container .texto-perfil {
	width: 60%;
	padding: 0 30px;
}

section.perfil-container .texto-perfil h2 {
	font-size: 18px;
	color: #698293;
}

section.perfil-container .texto-perfil p {
	font-size: 15px;
	line-height: 30px;
	font-weight: bold;
	color: #4b4b4b;
	margin-top: 80px;
}

/******** VIDEO YOUTUBE *******/

section.videos {
	padding: 50px 0;
}
section.videos .box-video {
	float: left;
	width: 33.33%;
	background-color: green;
	 padding-top: calc(33.3% * 0.6); /* Manter a proporção do vídeo */
	border: 5px solid white;
	position: relative;
}

section iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/************ TRATAMENTOS *********************/

/* Estilo para o plugin Slick */

.slick-dotted ul {
	list-style-type: none;
	text-align: center;
	position: relative;
	margin-top: 50px;
}

.slick-dotted li {
	display: inline-block;
	margin: 0 7px;
	width: 16px; 
	height: 16px;
	border-radius: 8px;
	color: #d8d8d8;
}

.slick-dotted button:focus {
	outline: 0;
}

.slick-dotted li button {
	width: 16px;
	height: 16px;
	border-radius: 8px;
	color: #d8d8d8;
	border-width: 0;
	background-color: #d8d8d8;
	opacity: 1;
	cursor: pointer;
}

li.slick-active button {
	background-color: #688293;
	color: #688293;
}

.slick-slide:focus{outline: none}

section.tratamentos {
	padding: 70px 0 20px 0;
}

section.tratamentos .tratamento-container {
	float: left;
	width: 33.3%;
}

section.tratamentos > h2 {
	color: #698293;
	text-align: center;
	font-size: 18px;
}

section.tratamentos > .container {
	padding: 30px 0;
}

.tratamento-single {
	padding: 20px;
	min-height: 150px;
	
}

.tratamento-single h2 {
	color: #737373;
	font-size: 18px;
} 

.tratamento-single p {
	color: #b4b4b4;
	font-size: 13px;
	padding: 10px 0;
}

/************ DEPOIMENTOS *********************/
section.depoimentos {
	/* border: 1px solid red; */
	/* padding-top: 40px; */
	/* padding-bottom: 30px; */
	padding: 40px 0 30px 0;
}

section.depoimentos h2 {
	color: #698293;
	text-align: center;
	font-size: 18px;	
}

section.depoimentos > .container {
	padding: 40px 0;
	max-width: 400px;
}

section.depoimentos .depoimento-single {
	text-align: center;
	padding: 0 2%;
}

section.depoimentos quote {
	font-size: 15px;
	color: #b4b4b4;
}

.depoimento-single .nome-depoimento {
	padding: 19px 0;
}

.nome-depoimento img {
	width: 32px;
	height: 32px;
	border-radius: 16px;
	display: inline-block;	
}

.nome-depoimento span {
	font-size: 13px;
	color: #b4b4b4; 
	vertical-align: 10px;
}

.instagram-chamada {
	width: 100%;
	padding: 40px 0;
	text-align: center;
	background-color: #98a5ae;
	float: left;
}

.instagram-chamada p {
	color: white;
	font-size: 13px;
	padding: 10px 0;
	line-height: 20px;
}

.mosaico-social {
	float: left;
	width: 100%;
	height: 100%;
}

.img-mosaico-single-social {
	float: left;
	width: calc(100% / 9);
	/* padding-top: calc(100% / 9); */
	height: 140px;
	background-color: gray;
	border: 6px solid white;
}

.facebook-chamada {
	width: 100%;
	padding: 40px 0;
	text-align: center;
	background-color: #576975;
	float: left;
}

.facebook-chamada p {
	color: white;
	font-size: 13px;
	padding: 10px 0;
	line-height: 20px;
}

section.contato {
	padding: 60px 2%;
}

section.contato > h2 {
	color: #698293;
	text-align: center;
	font-size: 18px;
}

section.contato form {
	width: 100%;
	max-width: 500px;
	margin: 30px auto;
	
}

.form-wrapper {
	float: left;
	margin-top: 10px;
	padding: 0 10px;
}


/****** Centralizar button ******/
form div:nth-of-type(6) {
	text-align: center;
}

.w100 {
	width: 100%;
}

.w50 {
	width: 50%;
}

.form-wrapper span {
	font-size: 15px;
	color: #B4B4B4;
}

.form-wrapper input[type=text] {
	width: 100%;
	height: 35px;
	line-height: 35px;
	padding-left: 9px;
	border: 1px solid #dadada;
	margin-top: 8px;
	outline: 0;
}

.form-wrapper textarea {
	width: 100%;
	padding: 8px;
	height: 121px;
	resize: none;
	margin-top: 8px;
	border: 1px solid #dadada;
	outline: 0;
}

.form-wrapper input[type=submit] {
	width: 100px;
	height: 35px;
	border: 0;
	background-color: #688293;
	color: white;
	cursor: pointer;
	display: inline-block;
}

/* Garantir a aparência de botão no safari */
input[type=submit]{
	-webkit-appearance: button;
  }

footer {
	background-color: #688293;
	padding: 40px 2%;
}

footer .footer-block {
		float: left;
		width: 33.3%;
}

.footer-block h2 {
	color: white;
	font-size: 18px;
}

/* Garantir a aparência de texto nos telefones do footer no safari */
a[href^=tel] { 
	color: inherit; 
	text-decoration: none; 
}

.footer-block p {
	color: white;
	font-size: 14px;
	margin-top: 8px;
}

footer .container {
	max-width: 1000px;
}

/************ MOBILE *********************/
@media screen and (max-width: 1024px) {
	/* .img-mosaico-single-social {
		width: calc(100% /6);
		padding-top: calc(100% /6);
	} */
	
	/* Pega a partir da 7 div, incrementa 1 em 1 */
	/* .img-mosaico-single-social:nth-of-type(1n+7) {
		display: none;
	} */
	
	
} 



@media screen and (max-width: 768px) {
	footer {
		text-align: center;
	}
	
	footer .footer-block {
		display: block;
		float: none;
		width: 100%;
		margin: 30px 0;
	}
	
	header nav.menu-desktop {
		display: none;
	}
	
	header nav.menu-mobile {
		display: block;
	}
	
	section.servicos > .container {
		flex-direction: column;
		top: -20px;	
	}
	
	
	section.servicos > .container > .box-servico:nth-of-type(1), 
	section.servicos > .container > .box-servico:nth-of-type(3) {
		max-width: 350px;
		width: 90%;
		padding: 30px 2%;
	}

	section.servicos > .container > .box-servico:nth-of-type(2) {
		max-width: 380px;
		width: 95%;
		padding: 40px 2%;
	}
	
	section.perfil-container .perfil-wrapper2 {
			display: inline-block;
			text-align: center;
			position: static;
			height: auto;
	}
	
	section.perfil-container .perfil-wrapper {
		padding-top: 0;
	}
	
	section.perfil-container .img-perfil {
		width: 50%;
		padding-top: 70%;
		display: inline-block;
		height: auto;
		
	}
	
	section.perfil-container .texto-perfil {
		display: inline-block;
		width: 100%;
		text-align: justify;
		padding: 0 30px;
	}
	
	section.perfil-container .texto-perfil h2 {
		padding-top: 30px;
		text-align: center;
	}
	
	section.videos {
		text-align: center;
	}
	
	section.videos .box-video {
		display: inline-block;
		float: none;
		width: 70%;
		background-color: green;
		padding-top: calc(70% * 0.6);
		border: 5px solid white;
		position: relative;
	}
	
	  .img-mosaico-single-social {
		/* width: calc(100% /3); */
		/* padding-top: calc(100% /3); */
		height: 200px;
	}  
	
	/** Pega a partir da 4 div, incrementa 1 em 1*/
	/* .img-mosaico-single-social:nth-of-type(1n+4) {
		display: none;
	} */
	
	
}

@media screen and (max-width: 580px) {
	section.perfil-container .img-perfil {
		width: 80%;
		padding-top: 110%;
	}
	
	section.videos .box-video {
		width: 90%;
		padding-top: calc(90% * 0.6);
	}
	
	.w50 {
		width: 100%;
}
	
}

@media screen and (max-width: 480px) {
	header .logo img{
		width: 200px;
	}
	
	
}

@media screen and (min-width: 768px) {
	.mosaico-single:nth-child(1) .img-mosaico-single:nth-child(1) {
		border-top-left-radius: 25px;
	}
	
	.mosaico-single:nth-child(1) .img-mosaico-single:nth-child(2) {
		border-bottom-left-radius: 25px;
	}
	
	.mosaico-single:nth-child(6) .img-mosaico-single:nth-child(1) {
		border-top-right-radius: 25px;
	}
	
	.mosaico-single:nth-child(6) .img-mosaico-single:nth-child(2) {
		border-bottom-right-radius: 25px;
	}
}